[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
apscheduler = "*"
notify2 = "*"
pyexcel-ods3 = "*"
typing-extensions = "*"
customtkinter = "*"
dbus-python = "*"
pyinstaller = "*"

[dev-packages]
coverage = "*"
pyvirtualdisplay = "*"
mypy = "*"

[requires]
python_version = "3.11.7"
